html,body {
    padding: 0;
    margin: 0;
}

.menu {
    background: white;
    border-bottom: 7px solid #237b3c;
    height: 80px;
}

.menu img {
    height: 30px;
    margin-top: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.body-empty {
    height: 500px;
    background: url('/static/img/bg.jpg') repeat-x;
}

.footer > div {
    height: 524px;
    border-bottom: 7px solid #237b3c;
    margin-bottom: 1px;
    background: url('/static/img/footer-bg.jpg') repeat-x;
    background-size: contain;
}