html,body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.header {
    background: white;
    border-bottom: 7px solid #237b3c;
    height: 80px;
}

ul.header-menu {
    padding: 0;
    margin: 0;
}

.header-menu li {
    float: left;
    list-style-type: none;
}

.header-menu li a {
    text-decoration: none;
    display: inline-block;
    color: #7d7c7c;
    padding: 5px;
    text-transform: uppercase;
}

.header-menu li:hover a {
    background: #7d7c7c;
    color: white;
    border-radius: 3px;
}

.menu {
    background: white;
    border-bottom: 7px solid #237b3c;
    height: 80px;
}

.menu img {
    height: 30px;
    margin-top: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.body-empty {
    height: 500px;
    background: url('/static/img/bg.jpg') repeat-x;
    background-size: contain;
}

.footer > div {
    height: 300px;
    border-bottom: 7px solid #237b3c;
    margin-bottom: 1px;
    background: url('/static/img/footer-bg.jpg') repeat-x;
    background-size: contain;
    color: white;
    font-family: Arial;
}

.footer .contact-title {
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 40px;
}

.footer .contacts {
    font-size: 12px;
    margin-bottom: 5px;
}

.empty-item {
    margin-top: 110px;
    width: 280px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.empty-item img {
    height: 280px;
}

.empty-item:last-of-type {
    margin-right: 0;
}