<div class="services">
    <div class="services-item">
        <img SRC="{{ STATIC_URL }}img/service-icon.png" height="90" />
        <div class="service-title">Ландшафтное<br/>проектирование</div>
        <div class="service-desc">Идейные соображения высшего порядка, а также начало повседневной  начало</div>
        <a href="#">Далее</a>
    </div>
    <div class="services-item">
        <img SRC="{{ STATIC_URL }}img/service-icon.png" height="90" />
        <div class="service-title">Благоустройство<br/>Озеленение</div>
        <div class="service-desc">Идейные соображения высшего порядка, а также начало повседневной  начало</div>
        <a href="#">Далее</a>
    </div>
    <div class="services-item">
        <img SRC="{{ STATIC_URL }}img/service-icon.png" height="90" />
        <div class="service-title">Сервисное<br/>обслуживание</div>
        <div class="service-desc">Идейные соображения высшего порядка, а также начало повседневной  начало</div>
        <a href="#">Далее</a>
    </div>
    <div class="services-item">
        <img SRC="{{ STATIC_URL }}img/service-icon.png" height="90" />
        <div class="service-title">Спецпредложения<br/>на Продажа<br/>эксклюзивных растений</div>
        <div class="service-desc">Идейные соображения высшего порядка, а также начало повседневной  начало</div>
        <a href="#">Далее</a>
    </div>
    <div class="services-item">
        <img SRC="{{ STATIC_URL }}img/service-icon.png" height="90" />
        <div class="service-title">Сопутствующие<br/>услуги</div>
        <div class="service-desc">Идейные соображения высшего порядка, а также начало повседневной  начало</div>
        <a href="#">Далее</a>
    </div>
</div>