{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="body-wrapper">
        <div class="container">
            <div class="gallery">
                {% for img in page.images.all %}
                    {% thumbnail img.image '292x214' crop='center' as im %}
                        <img src="{{ im.url }}" width="292" />
                    {% endthumbnail %}
                {% endfor %}
            </div>
            <div class="text-wrapper">
                <div class="text-title">
                    {{ page.title }}
                </div>
                <div class="text-body">
                    {{ page.text|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
{% endblock %}