<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mariotti</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.css" />
    <link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.theme.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
</head>
<body>

<div class="header">
    <div class="container">
        <a href="/">
            <img src="{{ STATIC_URL }}img/logo.png" height="40" />
        </a>
           <ul class="header-menu">
               <li>
                   <a href="{% url 'home-1' %}">Главная</a>
               </li>
               <li>
                   <a href="{% url 'about' %}">О компании</a>
               </li>
               <li>
                   <a href="{% url 'portfolio' %}">Портфолио</a>
               </li>
               <li>
                   <a href="{% url 'service' slug='serv1' %}">Услуги</a>
               </li>
               <li>
                   <a href="{% url 'contacts' %}">Контакты</a>
               </li>
           </ul>
    </div>
</div>

{% block content %}

{% endblock %}

<div class="footer">
    <div class="container">
       <ul class="footer-menu">
           <li>
               <a href="{% url 'about' %}">О компании</a>
           </li>
           <li>
               <a href="{% url 'portfolio' %}">Портфолио</a>
           </li>
           <li>
               <a href="{% url 'service' slug='serv1' %}">Услуги</a>
           </li>
           <li>
               <a href="#">Спецпредложения</a>
           </li>
       </ul>
    <div class="footer-contacts">
        <div class="fc-title">Наши контакты</div>
        <div class="fc-body">
            <div>Info@mariotti-ld.ru</div>
            <div>Design@mariotti-ld.ru</div>
        </div>
    </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
<script src="{{ STATIC_URL }}js/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
</body>
</html>