<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mariotti</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.css" />
    <link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.theme.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57405385-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<div class="header">
    <div class="container">
        <a href="/">
            <img src="{{ STATIC_URL }}img/logo.png" height="40" />
        </a>
           <ul class="header-menu">
               <li>
                   <a href="{% url 'home-1' %}">Главная</a>
               </li>
               <li {% if active == 'about' %}class="active"{% endif %}>
                   <a href="{% url 'about' %}">О компании</a>
               </li>
               <li {% if active == 'portfolio' %}class="active"{% endif %}>
                   <a href="{% url 'portfolio' %}">Портфолио</a>
               </li>
               <li {% if active == 'service' %}class="active"{% endif %}>
                   <a href="{% url 'service' slug='serv1' %}">Услуги</a>
               </li>
               <li {% if active == 'contacts' %}class="active"{% endif %}>
                   <a href="{% url 'contacts' %}">Контакты</a>
               </li>
           </ul>
    </div>
</div>

{% block content %}

{% endblock %}

<div class="footer">
    <div class="container">
       <ul class="footer-menu">
           <li>
               <a href="{% url 'about' %}">О компании</a>
           </li>
           <li>
               <a href="{% url 'portfolio' %}">Портфолио</a>
           </li>
           <li>
               <a href="{% url 'service' slug='serv1' %}">Услуги</a>
           </li>
           <li>
               <a href="#">Спецпредложения</a>
           </li>
       </ul>
    <div class="footer-contacts">
        <div class="fc-title">Наши контакты</div>
        <div class="fc-body">
            <div>Санкт-Петербург, Миллер-центр, Комендантский проспект., 11</div>
            <div>2 этаж, офис 5</div>
            <div>Конт. тел.: 8(911)9262661</div>
            <div>info@mariotti-ld.ru</div>
        </div>
    </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
<script src="{{ STATIC_URL }}js/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27390905 = new Ya.Metrika({id:27390905,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27390905" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>