{% extends 'base.html' %}

{% block content %}
    <div class="contact-welcome">
        <div class="container">
            <div class="welcome">Всегда рады видеть вас у нас в студии</div>
            <div class="welcome-cons">
                <div>Info@mariotti-ld.ru</div>
                <div>Design@mariotti-ld.ru</div>
            </div>
        </div>
    </div>
    <div class="contact-form-wrapper">
        <div class="container">
            <img src="{{ STATIC_URL }}img/contacts-img.jpg" />
            <div class="form-title">Вы можете написать нам:</div>
            <form method="POST">{% csrf_token %}
                <div class="form-block">
                    <input type="text" class="error" placeholder="ИМЯ" />
                    <div class="error-alert">Проверьте пожалуйста, правильно ли вы заполнили форму</div>
                </div>
                <div class="form-block">
                    <input type="text" placeholder="E-MAIL" />
                </div>
                <div class="form-block">
                    <textarea></textarea>
                </div>
                <div class="form-block" style="text-align: right;">
                    <button class="">Отправить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}