<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mariotti</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
</head>
<body>

    <div class="menu">
        <div class="container">
            <a href="/">
                <img src="{{ STATIC_URL }}img/logo.png" />
            </a>
        </div>
    </div>

    <div class="body-empty">
        <div class="container">
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-1.png" />
            </div>
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-2.png" />
            </div>
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-3.png" />
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <div class="container">
                <div class="contact-title">Наши контакты</div>
                <div class="contacts">Info@mariotti-ld.ru</div>
                <div class="contacts">Санкт-Петербург, пр. Испытателей, д 30, БЦ Миллер, офис 5.</div>
            </div>
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>