<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mariotti</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57405385-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

    <div class="menu">
        <div class="container">
            <a href="/">
                <img src="{{ STATIC_URL }}img/logo.png" />
            </a>
        </div>
    </div>

    <div class="body-empty">
        <div class="container">
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-1.png" />
            </div>
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-2.png" />
            </div>
            <div class="empty-item">
                <img src="{{ STATIC_URL }}img/empty-3.png" />
            </div>
        </div>
    </div>

    <div class="sfooter">
        <div>
            <div class="container">
                <div class="contact-title">Наши контакты</div>
                <div class="contacts">Info@mariotti-ld.ru</div>
                <div class="contacts">Санкт-Петербург, пр. Испытателей, д 30, БЦ Миллер, офис 5.</div>
            </div>
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter27390905 = new Ya.Metrika({id:27390905,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27390905" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>