{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="home-space">

    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services-no-img.html' %}
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            {% for n in news|slice:"5" %}
            <div class="news-item">
                <a href="{% url 'news-item' slug=n.slug %}">
                    <div class="news-title">
                        {{ n.title }}
                    </div>
                </a>
                <div class="news-date">
                    {{ n.date|date:"d.m.Y" }}
                </div>
                <a href="{% url 'news-item' slug=n.slug %}">
                    {% thumbnail n.images.all.0.image '165x100' crop='center' as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </a>
                <a href="{% url 'news-item' slug=n.slug %}">Читать новость</a>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="home-news-bottom">
                <a href="{% url 'news' %}">Читать все новости...</a>
            </div>
        </div>
    </div>
{% endblock %}