{% extends 'base.html' %}

{% block content %}
    <div class="home-space">

    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            <div class="news-item">
                <div class="news-title">
                    Название новости
                </div>
                <div class="news-date">
                    12 июля 2015
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста, разгадывание сканвордов и кроссвордов онлайн
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста,
                </div>
                <a href="#">Читать новость</a>
            </div>
            <div class="news-item">
                <div class="news-title">
                    Название новости
                </div>
                <div class="news-date">
                    12 июля 2015
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста, разгадывание сканвордов и кроссвордов онлайн
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста,
                </div>
                <a href="#">Читать новость</a>
            </div>
            <div class="news-item">
                <div class="news-title">
                    Название новости
                </div>
                <div class="news-date">
                    12 июля 2015
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста, разгадывание сканвордов и кроссвордов онлайн
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста,
                </div>
                <a href="#">Читать новость</a>
            </div>
            <div class="news-item">
                <div class="news-title">
                    Название новости
                </div>
                <div class="news-date">
                    12 июля 2015
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста, разгадывание сканвордов и кроссвордов онлайн
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста,
                </div>
                <a href="#">Читать новость</a>
            </div>
            <div class="news-item">
                <div class="news-title">
                    Название новости
                </div>
                <div class="news-date">
                    12 июля 2015
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста, разгадывание сканвордов и кроссвордов онлайн
                    Поиск по определению название объекта рельефа, поиск слов по маске, помощник кроссвордиста,
                </div>
                <a href="#">Читать новость</a>
            </div>
        </div>
        <div class="home-news-bottom">
            <a href="#">Читать все новости...</a>
        </div>
    </div>
{% endblock %}