{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <span> > </span>
            </li>
            <li>
                <a href="#">Новости</a>
            </li>
            <li>
                <span> > </span>
            </li>
            <li>
                <a href="#">Новости 1</a>
            </li>
        </ul>
    </div>

    </div>
    <div class="body-wrapper">
        <div class="container">
            <div class="gallery">
                {% for img in n.images.all %}
                    <img src="{{ img.image.url }}" width="292" />
                {% endfor %}
            </div>
            <div class="text-wrapper">
                <div class="text-title">
                    {{ n.title }}
                </div>
                <div class="text-body">
                    {{ n.text|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            {% for n in news %}
            <div class="news-item">
                <div class="news-title">
                    {{ n.title }}
                </div>
                <div class="news-date">
                    {{ n.date|date:"d.m.Y" }}
                </div>
                <img src="{{ STATIC_URL }}img/news-img.jpg" />
                <div class="news-desc">
                    {{ n.short_desc|safe }}
                </div>
                <a href="{% url  'news-item' n.pk %}">Читать новость</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
{% endblock %}