{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            {% for bc in breadcrumbs %}
            <li>
                <a href="{{ bc.1 }}">{{ bc.0 }}</a>
            </li>
                {% if not forloop.last %}
                    <li>
                        <span> > </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    </div>
    <div class="body-wrapper">
        <div class="container">
            {% for n in news %}
            <div class="news-item">
                <a href="{% url  'news-item' n.slug %}">
                    <div class="news-title">
                        {{ n.title }}
                    </div>
                </a>
                <div class="news-date">
                    {{ n.date|date:"d.m.Y" }}
                </div>
                <a href="{% url  'news-item' n.slug %}">
                    {% thumbnail n.images.all.0.image '165x100' crop='center' as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                </a>
                <div class="news-desc">
                    {{ n.short_desc|safe }}
                </div>
                <a href="{% url  'news-item' n.slug %}">Читать новость</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
{% endblock %}