{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <span> > </span>
            </li>
            <li>
                <a href="#">Портфолио</a>
            </li>
            <li>
                <span> > </span>
            </li>
            <li>
                <a href="#">Название объекта</a>
            </li>
        </ul>
    </div>

    </div>
    <div class="body-wrapper">
        <div class="container">
            <div class="gallery">
                {% for img in port.images.all %}
                    {% thumbnail img.image '292x214' crop='center' as im %}
                        <img src="{{ im.url }}" width="292" />
                    {% endthumbnail %}
                {% endfor %}
            </div>
            <div class="text-wrapper">
                <div class="text-title">
                    {{ port.title }}
                </div>
                <div class="text-body">
                    {{ port.text|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            {% for port in ports %}
            <div class="news-item">
                <div class="news-title">
                    {{ port.title }}
                </div>
                <div class="news-date">
                    {{ port.date|date:"d.m.Y" }}
                </div>
                {% thumbnail port.images.all.0.image '165x100' crop='center' as im %}
                    <img src="{{ im.url }}" />
                {% endthumbnail %}
                <div class="news-desc">
                    {{ port.short_desc|safe }}
                </div>
                <a href="{% url 'portfolio-item' pk=port.pk %}">Далее</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
{% endblock %}