{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            {% for bc in breadcrumbs %}
            <li>
                <a href="{{ bc.1 }}">{{ bc.0 }}</a>
            </li>
                {% if not forloop.last %}
                    <li>
                        <span> > </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    </div>
    <div class="body-wrapper">
        <div class="container">
            {% for port in ports %}
            <div class="news-item">
                <div class="news-title">
                    {{ port.title }}
                </div>
                <div class="news-date">
                    {{ port.date|date:"d.m.Y" }}
                </div>
                {% thumbnail port.images.all.0.image '165x100' crop='center' as im %}
                    <img src="{{ im.url }}" />
                {% endthumbnail %}
                <div class="news-desc">
                    {{ port.short_desc|safe }}
                </div>
                <a href="{% url 'portfolio-item' slug=port.slug %}">Далее</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
{% endblock %}