{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="breadcrumbs">
        <ul>
            {% for bc in breadcrumbs %}
            <li>
                <a href="{{ bc.1 }}">{{ bc.0 }}</a>
            </li>
                {% if not forloop.last %}
                    <li>
                        <span> > </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    </div>
    <div class="services-wrapper">
        <div class="container">
            {% include 'blocks/services.html' %}
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            <div class="gallery">
                {% for img in service.images.all %}
                    {% thumbnail img.image '292x214' crop='center' as im %}
                        <img src="{{ im.url }}" width="292" />
                    {% endthumbnail %}
                {% endfor %}
            </div>
            <div class="text-wrapper">
                <div class="text-title">
                    {{ service.title|striptags }}
                </div>
                <div class="text-body">
                    {{ service.text|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}